node_modules

lerna-debug.log
.DS_Store
packages/core/node_modules
.vscode/

packages/core/dev/test
packages/core/coverage
packages/validator/coverage
packages/utils/coverage

packages/core/core/coverage
packages/*/coverage
packages/core/core/coverage
packages/core/validator/coverage
packages/services/node-info/coverage
.history
.lh
packages/core/repl/.vscode
.idea
